header {
    width: 100%;
}

header .nav {
    width: 100%;
    height: 80px;
    padding: 0 30px;

    background: var(--black-color);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav .nav-logo {
    color: var(--white-color);
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
}

/*  NAV-ICON */

header .nav .nav-icon {
    width: 60px;
    height: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

}

header .nav .nav-icon .nav-bar {
    height: 2px;
    width: 22px;

    background: var(--white-color);

    transition: all .25s ease-in-out;
}

header .nav .nav-icon .nav-bar:first-child {
    transform: translateY(-5px);
}

header .nav .nav-icon .nav-bar:last-child {
    transform: translateY(5px);
}

/* NAV-ICON ANIMATION */

header .nav .nav-icon.active .nav-bar:first-child {
    transform: translateY(1px) rotate(-45deg);
}

header .nav .nav-icon.active .nav-bar:last-child {
    transform: translateY(-1px) rotate(45deg);
}

/* OVERLAY */

header .nav-overlay {
    width: 100%;
    height: 0;
    background : var(--black-color);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;


    transition: all .75s ease-in-out;
}

/* MENU OVERLAY */

header .nav-overlay .container {
    width: 100%;
    height: 100%;
    padding: 0 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-overlay .container .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .nav-overlay .container .nav-links a {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: 900;
    color: var(--white-color);

    opacity: 0;
    transform: translateX(-100px);
        
    transition: all .35s ease-in-out;
}

header .nav-overlay .container .nav-links a:hover {
    color: var(--golden-color);
}

header .nav-overlay .container .nav-links a.active {
    color: var(--golden-color);
}

header .nav-overlay .container .nav-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .nav-overlay .container .nav-contact .contact-image {
    margin-bottom: 40px;
}

header .nav-overlay .container .nav-contact .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header .nav-overlay .container .nav-contact .contact-info h3 {
    font-size: .75em;
    text-transform: uppercase;
    color: var(--golden-color);

    margin-bottom: 5px;
}

header .nav-overlay .container .nav-contact .contact-info a {
    font-size: 1.25em;
    line-height: 1.875em;
    color: var(--white-color);
    text-decoration: underline;

    transition: all .25s ease-in-out;
}

header .nav-overlay .container .nav-contact .contact-info a:hover {
    color: var(--dark-gray-color);
}

header .nav-overlay .container .nav-contact .contact-info a + a { 
    margin-bottom: 20px;
}

header .nav-overlay .container .nav-contact .contact-info .socials {
    margin-bottom: 40px;
}

header .nav-overlay .container .nav-contact .contact-info .socials  a img  {
    transition: all .05s ease-in-out;
}

header .nav-overlay .container .nav-contact .contact-info .socials a:nth-child(2){
     margin: 0 15px; 
}

header .nav-overlay .container .nav-contact .contact-info .socials a:hover img {
    filter: invert(0.5);
}


.nav-contact .contact-image, .nav-contact .contact-info {
    opacity: 0;
    transform: translateX(200px);
        
    transition: all .35s ease-in-out;
}
/* OVERLAY ANIMATION */

header .nav-overlay .container {
    opacity: 0;
    transition: all .25s ease-in-out;
}

header .nav-overlay.active {
    height: 100%;
}

header .nav-overlay.active .container {
    opacity: 1;
}

header .nav-overlay.active .container .nav-links a{
    opacity: 1;
    transform: translateX(0);
}

header .nav-overlay.active .container .nav-links a:first-child {
    transition-delay: .75s;
}

header .nav-overlay.active .container .nav-links a:nth-child(2) {
    transition-delay: .80s;
}

header .nav-overlay.active .container .nav-links a:last-child {
    transition-delay: .85s;
}

.nav-overlay.active .nav-contact .contact-image, .nav-overlay.active .nav-contact .contact-info {
    opacity: 1;
    transform: translateX(0px);

}

.nav-overlay.active .nav-contact .contact-image {
    transition-delay: .75s;
}

.nav-overlay.active .nav-contact .contact-info {
    transition-delay: .80s;
 
}